#!/usr/bin/env bash

# Get the current directory name for the virtual environment
VENV_NAME=$(basename "$PWD")
export PYTHONPATH="$PWD:$PYTHONPATH"

# Activate virtual environment if it exists
if [ -d ~/.virtualenvs/$VENV_NAME ]; then
    source ~/.virtualenvs/$VENV_NAME/bin/activate
fi

# Export all variables from .env file if it exists
if [ -f .env ]; then
    set -a
    source .env
    set +a
fi
